.mainLeft {
  float: left;
  width: 35vh;
  border-right: 1px solid #EAEAEA;
  height: 90vh;
  overflow: auto;
  padding: 1em;
  background-color: #F4F4F4;
}

.mainLeft li {
  padding: 13px 20px;
  margin: 2em 0;
  border-radius: 5px;
  background-color: #FFF;
  color: #007bff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.mainLeft li:hover {
  background-color: #f8f8f8;
}

.mainLeft .active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

li {
  list-style: none;
}
