.formA {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.textA {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}

.submitBtn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submitBtn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.submitBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.comments-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.comments-pagination button {
    padding: 5px 10px;
}


